spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      show-sql: true
  datasource:
    url: jdbc:postgresql://192.168.99.100:5434/postgres?currentSchema=biomechanics
    username: postgresuser
    password: postgrespw
    hikari:
      maximum-pool-size: 10